@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
body {
    font-family: 'ZCOOL KuaiLe', cursive;
  }
  .clearfix:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
       }
  .clearfix { display: inline-block; }
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  
  button {
    position: relative;
    display: block;
    padding: 1rem 2rem;
    font-size: 1rem;
    margin: 40px auto 10px;
    font-family: 'ZCOOL KuaiLe', cursive;
  }
  p {
    text-align: center;
  }
  .yahtzee-board {
      display: flex;
      justify-content: center;
      position: relative;
      margin: 0 auto;
  }
  .container {
    float: left;
    margin: 20px;
    width: 100px;
    height: 100px;
    position: relative;
    perspective: 1000px;
    perspective-origin: 50% 100%;
  }
  img:hover {
    cursor: pointer;
  }
  .cube div {
    background: yellowgreen;
    display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    border: 1% solid black;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    text-align: center;
    padding: 25% 0;
  }
  
  .held {
    background: hsla(240, 85%, 50%, 0.75);
  }
  .score-die {
    background: #f00;
    border-radius: 2px;
    display: block;
    float: right;
    height: 24px;
    width: 24px;
  }
  #diceid {
      padding: 1rem;
  }