.dice-container {
    display: flex;
    justify-content: center;
    width: 800px;
    justify-content: space-evenly;
    border: solid black 10px;
    border-radius: 1rem;
}
#dice {
    font-size: 6rem;
}

button {
    margin: 2rem;
    padding: 0.5rem 1rem;
    border: black solid 2px;
    background-color: gold;
    box-shadow: 2px 4px 16px #888888;
    border-radius: 1rem;
}
button:hover {
    background-color: goldenrod;
}